@media only screen and (min-width:1801px) and (max-width:3400px) {
.form_sec {padding-bottom: 200px;}
}
@media only screen and (min-width:1801px) and (max-width:1900px) {
.head_sec_left_inner h1{font-size: 55px;}
.head_sec_left_inner p{font-size: 20px;}
.want_write_right h2{font-size: 40px;}
.join_grow_cont p{font-size: 40px;}
.talent_head h3{font-size: 40px;}
.talent_sec_cont_single_cont h5{font-size: 18px;bottom: 315px;}
.talent_sec_cont_single_cont p{font-size: 16px;top: -180px;}
.talent_appear_left_head h1 {font-size: 35px;margin: 0 0 25px 0;}
.talent_appear_right ul li h4{font-size: 50px;line-height: 50px;}
.talent_appear_right ul li h4 span{font-size: 25px;}
.list_sec li {padding: 0 0 15px 0;font-size: 16px;}
.ftr_form_sec_main h4{font-size: 55px;padding-bottom: 35px;}
.ftr_form_sec_single label {font-size: 16px;margin: 0 0 10px 0;}
.ftr_form_sec_single input{font-size: 16px;}
.ftr_form_sec_single button{font-size: 16px;}
.ftr_logo{padding-bottom: 20px;}
.ftr_main_right h5 {font-size: 16px;margin: 0 0 20px 0;}
.cont_sec li a{font-size: 14px;}
.ftr_form_sec_single textarea{font-size: 16px;}
.form_sec{padding-bottom: 48%;}
.talent_sec {padding: 100px 0 0px 0;}
.menu_sec_list {padding-top: 40px;padding-bottom: 25px;}
.menu_sec_list li {padding-bottom: 20px;}
.menu_sec_list a{font-size: 22px;}
.menu_sec_list2 li a{font-size: 18px;}
.menu_sec_list2 li{padding-bottom: 10px;}
.menu_sec_list2{padding-bottom: 100px;}
.side-slide{min-height: auto;}
.catergory_tab li {padding-bottom: 15px;}
.catergory_tab{padding-bottom: 60px;}
.side-slide1{min-height: auto;}
.catergory_tab li a{font-size: 16px;}

.inner_pages{padding: 20px 0;}

.all_head_left {flex: 0 0 240px;}
.inner_head_list ul li{padding-right: 18px;}
.inner_head_list ul li a{font-size: 17px;}
.bold{font-size: 15px !important;}
.search_btn i{font-size: 20px;}
.job_list_body_right_body_single_id ul li {padding-right: 12px; font-size: 14px;}
.head_title {font-size: 30px;margin: 5px 0 10px 0;}
.featured_job span {padding: 5px 12px;font-size: 12px;}

.inner_menu_single h5{font-size: 20px;}
.inner_menu_single ul li{padding-bottom: 14px;}
.inner_menu_single ul li a{font-size: 18px;}
.inner_ftr_copy_sec_single img {width: 230px;}
.inner_ftr {padding: 25px 0 10px 0;}
.inner_menu_single h5 {font-size: 20px;margin: 0 0 15px 0;}
.inner_menu_single ul {padding-bottom: 15px;}


.inner_ftr_copy_sec_single p{font-size: 18px;}
.inner_ftr_copy_sec_single ul li a i { font-size: 17px;}
.inner_ftr_copy_sec_single ul li a {font-size: 17px;}
.inner_ftr_copy_sec_single ul li {padding-left: 10px;}
.inner_ftr_copy_sec_single ul li:last-child {padding-left: 20px;}







}

@media only screen and (min-width:1701px) and (max-width:1800px) {
.head_sec_left_inner h1{font-size: 55px;}
.head_sec_left_inner p{font-size: 20px;}
.want_write_right h2{font-size: 40px;}
.join_grow_cont p{font-size: 40px;}
.talent_head h3{font-size: 40px;}
.talent_sec_cont_single_cont h5{font-size: 18px;bottom: 315px;}
.talent_sec_cont_single_cont p{font-size: 16px;top: -180px;}
.talent_appear_left_head h1 {font-size: 35px;margin: 0 0 25px 0;}
.talent_appear_right ul li h4{font-size: 50px;line-height: 50px;}
.talent_appear_right ul li h4 span{font-size: 25px;}
.list_sec li {padding: 0 0 15px 0;font-size: 16px;}
.ftr_form_sec_main h4{font-size: 55px;padding-bottom: 35px;}
.ftr_form_sec_single label {font-size: 16px;margin: 0 0 10px 0;}
.ftr_form_sec_single input{font-size: 16px;}
.ftr_form_sec_single button{font-size: 16px;}
.ftr_logo{padding-bottom: 20px;}
.ftr_main_right h5 {font-size: 16px;margin: 0 0 20px 0;}
.cont_sec li a{font-size: 14px;}
.ftr_form_sec_single textarea{font-size: 16px;}
.form_sec{padding-bottom: 48%;}
.talent_sec {padding: 100px 0 0px 0;}
.menu_sec_list {padding-top: 40px;padding-bottom: 25px;}
.menu_sec_list li {padding-bottom: 20px;}
.menu_sec_list a{font-size: 22px;}
.menu_sec_list2 li a{font-size: 18px;}
.menu_sec_list2 li{padding-bottom: 10px;}
.menu_sec_list2{padding-bottom: 100px;}
.side-slide{min-height: auto;}
.catergory_tab li {padding-bottom: 15px;}
.catergory_tab{padding-bottom: 60px;}
.side-slide1{min-height: auto;}
.catergory_tab li a{font-size: 16px;}

.inner_pages{padding: 20px 0;}

.all_head_left {flex: 0 0 240px;}
.inner_head_list ul li{padding-right: 18px;}
.inner_head_list ul li a{font-size: 17px;}
.bold{font-size: 15px !important;}
.search_btn i{font-size: 20px;}
.job_list_body_right_body_single_id ul li {padding-right: 12px; font-size: 14px;}
.head_title {font-size: 30px;margin: 5px 0 10px 0;}
.featured_job span {padding: 5px 12px;font-size: 12px;}

.inner_menu_single h5{font-size: 20px;}
.inner_menu_single ul li{padding-bottom: 14px;}
.inner_menu_single ul li a{font-size: 18px;}
.inner_ftr_copy_sec_single img {width: 230px;}
.inner_ftr {padding: 25px 0 10px 0;}
.inner_menu_single h5 {font-size: 20px;margin: 0 0 15px 0;}
.inner_menu_single ul {padding-bottom: 15px;}

.inner_ftr_copy_sec_single p{font-size: 18px;}
.inner_ftr_copy_sec_single ul li a i { font-size: 17px;}
.inner_ftr_copy_sec_single ul li a {font-size: 17px;}
.inner_ftr_copy_sec_single ul li {padding-left: 10px;}
.inner_ftr_copy_sec_single ul li:last-child {padding-left: 20px;}

}

@media only screen and (min-width:1601px) and (max-width:1700px) {
.head_sec_left_inner h1{font-size: 55px;}
.head_sec_left_inner p{font-size: 20px;}
.want_write_right h2{font-size: 40px;}
.join_grow_cont p{font-size: 40px;}
.talent_head h3{font-size: 40px;}
.talent_sec_cont_single_cont h5{font-size: 18px;bottom: 315px;}
.talent_sec_cont_single_cont p{font-size: 16px;top: -180px;}
.talent_appear_left_head h1 {font-size: 35px;margin: 0 0 25px 0;}
.talent_appear_right ul li h4{font-size: 50px;line-height: 50px;}
.talent_appear_right ul li h4 span{font-size: 25px;}
.list_sec li {padding: 0 0 15px 0;font-size: 16px;}
.ftr_form_sec_main h4{font-size: 55px;padding-bottom: 35px;}
.ftr_form_sec_single label {font-size: 16px;margin: 0 0 10px 0;}
.ftr_form_sec_single input{font-size: 16px;}
.ftr_form_sec_single button{font-size: 16px;}
.ftr_logo{padding-bottom: 20px;}
.ftr_main_right h5 {font-size: 16px;margin: 0 0 20px 0;}
.cont_sec li a{font-size: 14px;}
.ftr_form_sec_single textarea{font-size: 16px;}
.form_sec{padding-bottom: 48%;}
.talent_sec {padding: 100px 0 0px 0;}
.menu_sec_list {padding-top: 40px;padding-bottom: 25px;}
.menu_sec_list li {padding-bottom: 20px;}
.menu_sec_list a{font-size: 22px;}
.menu_sec_list2 li a{font-size: 18px;}
.menu_sec_list2 li{padding-bottom: 10px;}
.menu_sec_list2{padding-bottom: 100px;}
.side-slide{min-height: auto;}
.catergory_tab li {padding-bottom: 15px;}
.catergory_tab{padding-bottom: 60px;}
.side-slide1{min-height: auto;}
.catergory_tab li a{font-size: 16px;}

.inner_pages{padding: 20px 0;}

.all_head_left {flex: 0 0 240px;}
.inner_head_list ul li{padding-right: 18px;}
.inner_head_list ul li a{font-size: 17px;}
.bold{font-size: 15px !important;}
.search_btn i{font-size: 20px;}
.job_list_body_right_body_single_id ul li {padding-right: 12px; font-size: 14px;}
.head_title {font-size: 30px;margin: 5px 0 10px 0;}
.featured_job span {padding: 5px 12px;font-size: 12px;}

.inner_menu_single h5{font-size: 20px;}
.inner_menu_single ul li{padding-bottom: 14px;}
.inner_menu_single ul li a{font-size: 18px;}
.inner_ftr_copy_sec_single img {width: 230px;}
.inner_ftr {padding: 25px 0 10px 0;}
.inner_menu_single h5 {font-size: 20px;margin: 0 0 15px 0;}
.inner_menu_single ul {padding-bottom: 15px;}

.inner_ftr_copy_sec_single p{font-size: 18px;}
.inner_ftr_copy_sec_single ul li a i { font-size: 17px;}
.inner_ftr_copy_sec_single ul li a {font-size: 17px;}
.inner_ftr_copy_sec_single ul li {padding-left: 10px;}
.inner_ftr_copy_sec_single ul li:last-child {padding-left: 20px;}

}
@media only screen and (min-width:1501px) and (max-width:1600px) {

.head_sec_left_inner h1{font-size: 55px;}
.head_sec_left_inner p{font-size: 20px;}
.want_write_right h2{font-size: 40px;}
.join_grow_cont p{font-size: 40px;}
.talent_head h3{font-size: 40px;}
.talent_sec_cont_single_cont h5{font-size: 18px;bottom: 315px;}
.talent_sec_cont_single_cont p{font-size: 16px;top: -180px;}
.talent_appear_left_head h1 {font-size: 35px;margin: 0 0 25px 0;}
.talent_appear_right ul li h4{font-size: 50px;line-height: 50px;}
.talent_appear_right ul li h4 span{font-size: 25px;}
.list_sec li {padding: 0 0 15px 0;font-size: 16px;}
.ftr_form_sec_main h4{font-size: 55px;padding-bottom: 35px;}
.ftr_form_sec_single label {font-size: 16px;margin: 0 0 10px 0;}
.ftr_form_sec_single input{font-size: 16px;}
.ftr_form_sec_single button{font-size: 16px;}
.ftr_logo{padding-bottom: 20px;}
.ftr_main_right h5 {font-size: 16px;margin: 0 0 20px 0;}
.cont_sec li a{font-size: 14px;}
.ftr_form_sec_single textarea{font-size: 16px;}
.form_sec{padding-bottom: 48%;}
.talent_sec {padding: 100px 0 0px 0;}
.menu_sec_list {padding-top: 40px;padding-bottom: 25px;}
.menu_sec_list li {padding-bottom: 20px;}
.menu_sec_list a{font-size: 22px;}
.menu_sec_list2 li a{font-size: 18px;}
.menu_sec_list2 li{padding-bottom: 10px;}
.menu_sec_list2{padding-bottom: 100px;}
.side-slide{min-height: auto;}
.catergory_tab li {padding-bottom: 15px;}
.catergory_tab{padding-bottom: 60px;}
.side-slide1{min-height: auto;}
.catergory_tab li a{font-size: 16px;}


.inner_pages{padding: 20px 0;}
.all_head_left {flex: 0 0 240px;}
.inner_head_list ul li{padding-right: 18px;}
.inner_head_list ul li a{font-size: 17px;}
.bold{font-size: 15px !important;}
.search_btn i{font-size: 20px;}

.apply_now{width: 160px;height: 45px;font-size: 14px;}
.featured_job span{font-size: 12px;}
.job_list_body_right_search_sec input{font-size: 16px;}
.job_list_body_right_body_single_id ul li {padding-right: 12px; font-size: 14px;}
.head_title {font-size: 30px;margin: 5px 0 10px 0;}

.inner_menu_single h5{font-size: 20px;}
.inner_menu_single ul li{padding-bottom: 14px;}
.inner_menu_single ul li a{font-size: 18px;}
.inner_ftr_copy_sec_single img {width: 230px;}
.inner_ftr {padding: 25px 0 10px 0;}
.inner_menu_single h5 {font-size: 20px;margin: 0 0 15px 0;}
.inner_menu_single ul {padding-bottom: 15px;}

.inner_ftr_copy_sec_single p{font-size: 18px;}
.inner_ftr_copy_sec_single ul li a i { font-size: 17px;}
.inner_ftr_copy_sec_single ul li a {font-size: 17px;}
.inner_ftr_copy_sec_single ul li {padding-left: 10px;}
.inner_ftr_copy_sec_single ul li:last-child {padding-left: 20px;}



}
@media only screen and (min-width:1401px) and (max-width:1500px) {

.head_sec_left_inner h1{font-size: 55px;}
.head_sec_left_inner p{font-size: 20px;}
.want_write_right h2{font-size: 40px;}
.join_grow_cont p{font-size: 40px;}
.talent_head h3{font-size: 40px;}
.talent_sec_cont_single_cont h5{font-size: 18px;bottom: 250px;}
.talent_sec_cont_single_cont p{font-size: 16px;top: -180px;}
.talent_appear_left_head h1 {font-size: 35px;margin: 0 0 25px 0;}
.talent_appear_right ul li h4{font-size: 50px;line-height: 50px;}
.talent_appear_right ul li h4 span{font-size: 25px;}
.list_sec li {padding: 0 0 15px 0;font-size: 16px;}
.ftr_form_sec_main h4{font-size: 55px;padding-bottom: 35px;}
.ftr_form_sec_single label {font-size: 16px;margin: 0 0 10px 0;}
.ftr_form_sec_single input{font-size: 16px;}
.ftr_form_sec_single button{font-size: 16px;}
.ftr_logo{padding-bottom: 20px;}
.ftr_main_right h5 {font-size: 16px;margin: 0 0 20px 0;}
.cont_sec li a{font-size: 14px;}
.ftr_form_sec_single textarea{font-size: 16px;}
.form_sec{padding-bottom: 48%;}

.menu_sec_list {padding-top: 40px;padding-bottom: 25px;}
.menu_sec_list li {padding-bottom: 20px;}
.menu_sec_list a{font-size: 22px;}
.menu_sec_list2 li a{font-size: 18px;}
.menu_sec_list2 li{padding-bottom: 10px;}
.menu_sec_list2{padding-bottom: 100px;}
.side-slide{min-height: auto;}
.catergory_tab li {padding-bottom: 15px;}
.catergory_tab{padding-bottom: 60px;}
.side-slide1{min-height: auto;}
.catergory_tab li a{font-size: 16px;}

.inner_pages{padding: 20px 0;}

.all_head_left {flex: 0 0 240px;}
.inner_head_list ul li{padding-right: 18px;}
.inner_head_list ul li a{font-size: 17px;}
.bold{font-size: 15px !important;}
.search_btn i{font-size: 20px;}
.view_details {width: 160px;height: 45px;font-size: 14px;}
.apply_now{width: 160px;height: 45px;font-size: 14px;}
.featured_job span{font-size: 12px;}
.job_list_body_right_search_sec input{font-size: 16px;}
.job_list_body_right_body_single_id ul li {padding-right: 12px; font-size: 14px;}
.head_title {font-size: 30px;margin: 5px 0 10px 0;}


.inner_menu_single h5{font-size: 20px;}
.inner_menu_single ul li{padding-bottom: 14px;}
.inner_menu_single ul li a{font-size: 18px;}
.inner_ftr_copy_sec_single img {width: 230px;}
.inner_ftr {padding: 25px 0 10px 0;}
.inner_menu_single h5 {font-size: 20px;margin: 0 0 15px 0;}
.inner_menu_single ul {padding-bottom: 15px;}

.inner_ftr_copy_sec_single p{font-size: 18px;}
.inner_ftr_copy_sec_single ul li a i { font-size: 17px;}
.inner_ftr_copy_sec_single ul li a {font-size: 17px;}
.inner_ftr_copy_sec_single ul li {padding-left: 10px;}
.inner_ftr_copy_sec_single ul li:last-child {padding-left: 20px;}


}
@media only screen and (min-width:1301px) and (max-width:1400px) {
.head_sec_left_inner h1{font-size: 55px;}
.head_sec_left_inner p{font-size: 20px;}
.want_write_right h2{font-size: 40px;}
.join_grow_cont p{font-size: 40px;}
.talent_head h3{font-size: 40px;}
.talent_sec_cont_single_cont h5{font-size: 18px;bottom: 250px;}
.talent_sec_cont_single_cont p{font-size: 16px;top: -180px;}
.talent_appear_left_head h1 {font-size: 35px;margin: 0 0 25px 0;}
.talent_appear_right ul li h4{font-size: 50px;line-height: 50px;}
.talent_appear_right ul li h4 span{font-size: 25px;}
.list_sec li {padding: 0 0 15px 0;font-size: 16px;}
.ftr_form_sec_main h4{font-size: 55px;padding-bottom: 35px;}
.ftr_form_sec_single label {font-size: 16px;margin: 0 0 10px 0;}
.ftr_form_sec_single input{font-size: 16px;}
.ftr_form_sec_single button{font-size: 16px;}
.ftr_logo{padding-bottom: 20px;}
.ftr_main_right h5 {font-size: 16px;margin: 0 0 20px 0;}
.cont_sec li a{font-size: 14px;}
.ftr_form_sec_single textarea{font-size: 16px;}
.form_sec{padding-bottom: 320px;}
.menu_sec_list {padding-top: 40px;padding-bottom: 25px;}
.menu_sec_list li {padding-bottom: 20px;}
.menu_sec_list a{font-size: 22px;}
.menu_sec_list2 li a{font-size: 18px;}
.menu_sec_list2 li{padding-bottom: 10px;}
.menu_sec_list2{padding-bottom: 100px;}
.side-slide{min-height: auto;}
.catergory_tab li {padding-bottom: 15px;}
.catergory_tab{padding-bottom: 60px;}
.side-slide1{min-height: auto;}
.catergory_tab li a{font-size: 16px;}


.inner_pages{padding: 20px 0;}

.all_head_left {flex: 0 0 240px;}
.inner_head_list ul li{padding-right: 18px;}
.inner_head_list ul li a{font-size: 17px;}
.bold{font-size: 15px !important;}
.search_btn i{font-size: 20px;}
.job_list_body_right_body_single_id ul li{padding-right: 8px;font-size: 14px;}
.head_title {font-size: 30px;margin: 5px 0 10px 0;}
.view_details {width: 160px;height: 45px;font-size: 14px;}
.apply_now{width: 160px;height: 45px;font-size: 14px;}

.inner_menu_single h5{font-size: 20px;}
.inner_menu_single ul li{padding-bottom: 14px;}
.inner_menu_single ul li a{font-size: 18px;}
.inner_ftr_copy_sec_single img {width: 230px;}
.inner_ftr {padding: 25px 0 10px 0;}
.inner_menu_single h5 {font-size: 20px;margin: 0 0 15px 0;}
.inner_menu_single ul {padding-bottom: 15px;}

.inner_ftr_copy_sec_single p{font-size: 18px;}
.inner_ftr_copy_sec_single ul li a i { font-size: 17px;}
.inner_ftr_copy_sec_single ul li a {font-size: 17px;}
.inner_ftr_copy_sec_single ul li {padding-left: 10px;}
.inner_ftr_copy_sec_single ul li:last-child {padding-left: 20px;}


}
@media only screen and (min-width:1200px) and (max-width:1300px) {
/*.all_head { position: relative; top: 0;}
.all_head_right ul li{color: #000;}*/
/*.all_head_right ul li button{color: #000;}
.fbars:before{background:#000;}*/
.head_sec_left_inner h1{font-size: 55px;}
.head_sec_left_inner p{font-size: 20px;}
.want_write_right h2{font-size: 40px;}
.join_grow_cont p{font-size: 40px;}
.talent_head h3{font-size: 40px;}
.talent_sec_cont_single_cont h5{font-size: 18px;bottom: 250px;}
.talent_sec_cont_single_cont p{font-size: 16px;top: -180px;}
.talent_appear_left_head h1 {font-size: 35px;margin: 0 0 25px 0;}
.talent_appear_right ul li h4{font-size: 50px;line-height: 50px;}
.talent_appear_right ul li h4 span{font-size: 25px;}
.list_sec li {padding: 0 0 15px 0;font-size: 16px;}
.ftr_form_sec_main h4{font-size: 55px;padding-bottom: 35px;}
.ftr_form_sec_single label {font-size: 16px;margin: 0 0 10px 0;}
.ftr_form_sec_single input{font-size: 16px;}
.ftr_form_sec_single button{font-size: 16px;}
.ftr_logo{padding-bottom: 20px;}
.ftr_main_right h5 {font-size: 16px;margin: 0 0 20px 0;}
.cont_sec li a{font-size: 14px;}
.ftr_form_sec_single textarea{font-size: 16px;}
.form_sec{padding-bottom: 320px;}

.menu_sec_list {padding-top: 40px;padding-bottom: 25px;}
.menu_sec_list li {padding-bottom: 20px;}
.menu_sec_list a{font-size: 22px;}
.menu_sec_list2 li a{font-size: 18px;}
.menu_sec_list2 li{padding-bottom: 10px;}
.menu_sec_list2{padding-bottom: 100px;}
.side-slide{min-height: auto;}
.catergory_tab li {padding-bottom: 15px;}
.catergory_tab{padding-bottom: 60px;}
.side-slide1{min-height: auto;}
.catergory_tab li a{font-size: 16px;}

.inner_pages{padding: 20px 0;}
.inner_body .container-fluid {padding-right: 15px;padding-left: 15px;}
.all_head_left {flex: 0 0 240px;}
.inner_head_list ul li{padding-right: 15px;}
.inner_head_list ul li a{font-size: 16px;}
.bold{font-size: 16px !important;}
.search_btn i{font-size: 22px;}
.job_list_body_right_search_sec input{font-size: 16px;}
.job_list_body_right_search_sec i{font-size: 18px;}
.job_list_body_right_body_single_id ul li{font-size: 14px;padding-right: 8px;}
.featured_job span {padding: 5px 13px;font-size: 13px;}
.head_title{font-size: 30px;margin: 5px 0 10px 0;}
.view_details {width: 160px;height: 45px;font-size: 14px;}
.apply_now{width: 160px;height: 45px;font-size: 14px;}




.inner_menu_single h5{font-size: 20px;}
.inner_menu_single ul li{padding-bottom: 14px;}
.inner_menu_single ul li a{font-size: 18px;}
.inner_ftr_copy_sec_single img {width: 230px;}
.inner_ftr {padding: 25px 0 10px 0;}
.inner_menu_single h5 {font-size: 20px;margin: 0 0 15px 0;}
.inner_menu_single ul {padding-bottom: 15px;}
.inner_ftr_copy_sec_single p{font-size: 18px;}
.inner_ftr_copy_sec_single ul li a i { font-size: 17px;}
.inner_ftr_copy_sec_single ul li a {font-size: 17px;}
.inner_ftr_copy_sec_single ul li {padding-left: 10px;}
.inner_ftr_copy_sec_single ul li:last-child {padding-left: 20px;}





}
@media only screen and (min-width:992px) and (max-width:1199px) {
.sticky_header {position: fixed !important;top: 0px !important; left: 0; width: 100%;background: #fff;z-index: 99;padding: 15px 0;}

.all_head { position: relative; top: 10px;}
.all_head_right{padding-right: 0;text-align: center;}
.all_head_right ul li{color: #000;}
.all_head_right ul li button{color: #000;}
.side-slide1{width: 320px;padding: 20px;}
.side-slide{width: 320px;padding: 20px;}
.head_sec_main{grid-template-columns: 1fr;}
.head_sec_left{padding: 25px 15px 0;}
.head_sec_left_inner h1 {font-size: 55px;text-align: center;margin: 20px 0;}
.head_sec_left_inner p {font-size: 22px;text-align: justify;margin: 0 0 30px 0;}
.want_write_main { grid-template-columns: 1fr;}
.want_write_right{padding: 0 15px;margin: 20px 0 0 0;}
.want_write_right h2{text-align: center;font-size: 40px;}
.want_write_right p {font-size: 22px;margin: 0 0 20px 0;text-align: center;}
.join_grow_cont p { margin: 20px 0; font-size: 36px;line-height: inherit;color: #000;}
.join_grow_cont{position: relative;bottom: 0;}
.talent_sec {padding: 60px 0 0px 0;}
.talent_head h3{font-size: 40px;margin: 0 0 20px 0;}
.talent_sec_cont{grid-template-columns: 1fr;grid-gap: 2px;}
.talent_appear {padding: 40px 15px 20px;}
.talent_appear_left_head h1 {font-size: 30px;margin: 0 0 40px 0;text-align: center;}
.talent_appear_left_head p {font-size: 20px;margin: 0 0 20px 0;}
.list_sec li {padding: 0 0 15px 0;font-size: 18px;}
.talent_appear_right ul {padding-top: 50px;}
.talent_appear_right ul li:nth-child(even) h4{text-align: right;float: right;font-size: 45px;}
.talent_appear_right ul li{text-align: center;}
.talent_appear_right ul li h4{font-size: 60px;line-height: 60px;}
.talent_appear_right ul li h4 span{font-size: 30px;}
.talent_sec_cont_single_cont p{text-align: center; margin: 0 auto;width: 100%;padding: 0 15px 0 0;}
.ftr_main_left{padding: 20px 15px 20px;min-height: auto;}
.ftr_logo{margin-bottom: 15px;}
.ftr_form_sec_main h4 {font-size: 50px;padding-bottom: 30px;}
.ftr_form_sec_single label {font-size: 16px;margin: 0 0 10px 0;}
.ftr_form_sec_single input {width: 100%;font-size: 18px;}
.ftr_form_sec_single {padding-bottom: 25px;}
.ftr_form_sec_single textarea{width: 100%;font-size: 18px;}
.ftr_form_sec_single button{font-size: 16px;}
.form_sec{padding-bottom: 25px;}
.copy_sec{font-size: 16px;}
.ftr_main_right{padding: 50px 15px 20px;}
.cont_sec {padding-bottom: 50px;}
.ftr_links li {padding-bottom: 15px;}
.ftr_links li a {font-size: 18px;}
.ftr_rgt_logo {padding: 40px 0px 40px 0px;}
.all_head_left {width: 80%;*margin: 0 auto;}
.ftr_main_sec .row .col-md-12 { -ms-flex: 0 0 100%;flex: 0 0 100%;max-width: 100%;}
.fbars:before{background:#000;}
.menu_sec_list {padding-top: 30px;padding-bottom: 15px;}
.menu_sec_list li {padding-bottom: 15px;}
.menu_sec_list a{font-size: 22px;}
.menu_sec_list2 li a{font-size: 18px;}
.menu_sec_list2 li{padding-bottom: 10px;}
.menu_sec_list2{padding-bottom: 100px;}
.side-slide{min-height: auto;top: 0;}
.catergory_tab li {padding-bottom: 15px;}
.catergory_tab{padding-bottom: 70px;}
.side-slide1{min-height: auto;top: 0;}
.catergory_tab li a{font-size: 16px;}

.mob_mode{display: block;}
.desk_mode{display: none;}
.inner_body .container-fluid { padding-right: 15px;padding-left: 15px;}
.inner_pages { padding: 15px 0px;}
.inner_pages .all_head_main{display: flex;}
.inner_pages .all_head_main .all_head_left{flex: 0 0 30%;margin: 0;}
.inner_pages .all_head_right ul li button{font-size: 25px;}
.inner_pages .nav02{top: 20px;}
.inner_pages .side-slide1{top: -20px;}
.sticky{position: relative;top: 0;}
.new_ipad_pro .col-md-12 { -ms-flex: 0 0 100%; flex: 0 0 100%; max-width: 100%;}
.job_list_body_right_body_single_id ul li { padding-right: 0; padding-bottom: 10px;font-size: 14px;display: block;}
.head_title{font-size: 22px;}
.job_list_body_right_body_single_vac ul{grid-template-columns: 1fr;}
.job_list_body_right_body_single_btn ul li { padding-bottom: 20px;text-align: center;display: block;}
.view_details{text-align: center;margin: 0 auto;}
.apply_now{margin: 0 auto;}
.inner_menu_single h5{font-size:22px;}
.inner_menu_single ul li{padding-bottom: 14px;}
.inner_menu_single ul li a{font-size: 18px;}
.inner_ftr_copy_sec{display: block;}
.inner_ftr_copy_sec_single img {margin: 0 0 15px 0;}
.inner_ftr_copy_sec_single p {font-size: 18px;margin: 0 0 15px 0;}
.inner_ftr_copy_sec_single:last-child{text-align: center;}
.inner_ftr_copy_sec_single:first-child{text-align: center;}
.job_list_body_right_body{height: auto;overflow-y: inherit;}
.job_list_body_left{margin-bottom: 40px;}


.inner_menu_single h5{font-size: 20px;}
.inner_menu_single ul li{padding-bottom: 14px;}
.inner_menu_single ul li a{font-size: 18px;}
.inner_ftr_copy_sec_single img {width: 230px;}
.inner_ftr {padding: 25px 0 10px 0;}
.inner_menu_single h5 {font-size: 20px;margin: 0 0 15px 0;}
.inner_menu_single ul {padding-bottom: 15px;}
.inner_ftr_copy_sec_single p{font-size: 18px;}
.inner_ftr_copy_sec_single ul li a i { font-size: 17px;}
.inner_ftr_copy_sec_single ul li a {font-size: 17px;}
.inner_ftr_copy_sec_single ul li {padding-left: 10px;}
.inner_ftr_copy_sec_single ul li:last-child {padding-left: 20px;}

}
@media only screen and (min-width:768px) and (max-width:991px) {
.sticky_header {position: fixed !important;top: 0px !important; left: 0; width: 100%;background: #fff;z-index: 99;padding: 15px 0;}

.all_head { position: relative; top: 0;}
.all_head_main{display: block;}
.all_head_right{padding-right: 0;text-align: center;}
.all_head_right ul li{color: #000;}
.all_head_right ul li button{color: #000;}
.side-slide1{width: 320px;padding: 20px;}
.side-slide{width: 320px;padding: 20px;}
.head_sec_main{grid-template-columns: 1fr;}
.head_sec_left{padding: 25px 15px 0;}
.head_sec_left_inner h1 {font-size: 45px;text-align: center;}
.head_sec_left_inner p {font-size: 20px;text-align: justify;margin: 0 0 30px 0;}
.want_write_main { grid-template-columns: 1fr;}
.want_write_right{padding: 0 15px;margin: 20px 0 0 0;}
.want_write_right h2{text-align: center;font-size: 35px;}
.want_write_right p {font-size: 22px;margin: 0 0 20px 0;text-align: center;}
.join_grow_cont p { margin: 20px 0; font-size: 32px;line-height: inherit;color: #000;}
.join_grow_cont{position: relative;bottom: 0;}
.talent_sec {padding: 60px 0 0px 0;}
.talent_head h3{font-size: 40px;margin: 0 0 20px 0;}
.talent_sec_cont{grid-template-columns: 1fr;grid-gap: 2px;}
.talent_appear {padding: 40px 15px 20px;}
.talent_appear_left_head h1 {font-size: 30px;margin: 0 0 40px 0;text-align: center;}
.talent_appear_left_head p {font-size: 20px;margin: 0 0 20px 0;}
.list_sec li {padding: 0 0 15px 0;font-size: 18px;}
.talent_appear_right ul {padding-top: 50px;}
.talent_appear_right ul li:nth-child(even) h4{text-align: right;float: right;font-size: 45px;}
.talent_appear_right ul li{text-align: center;}
.talent_appear_right ul li h4{font-size: 60px;line-height: 60px;}
.talent_appear_right ul li h4 span{font-size: 30px;}
.talent_sec_cont_single_cont h5{font-size: 23px;}
.talent_sec_cont_single_cont p{font-size: 18px;text-align: center; margin: 0 auto;width: 100%;padding: 0 15px 0 0;}
.ftr_main_left{padding: 20px 15px 20px;min-height: auto;}
.ftr_logo{margin-bottom: 15px;}
.ftr_form_sec_main h4 {font-size: 50px;padding-bottom: 30px;}
.ftr_form_sec_single label {font-size: 16px;margin: 0 0 10px 0;}
.ftr_form_sec_single input {width: 100%;font-size: 18px;}
.ftr_form_sec_single {padding-bottom: 25px;}
.ftr_form_sec_single textarea{width: 100%;font-size: 18px;}
.ftr_form_sec_single button{font-size: 16px;}
.form_sec{padding-bottom: 25px;}
.copy_sec{font-size: 16px;}
.ftr_main_right{padding: 50px 15px 20px;}
.cont_sec {padding-bottom: 50px;}
.ftr_links li {padding-bottom: 15px;}
.ftr_links li a {font-size: 18px;}
.ftr_rgt_logo {padding: 40px 0px 40px 0px;}
.all_head_left {width: 70%;margin: 0 auto;}
.fbars:before{background:#000;}
.menu_sec_list {padding-top: 30px;padding-bottom: 15px;}
.menu_sec_list li {padding-bottom: 15px;}
.menu_sec_list a{font-size: 22px;}
.menu_sec_list2 li a{font-size: 18px;}
.menu_sec_list2 li{padding-bottom: 10px;}
.menu_sec_list2{padding-bottom: 100px;}
.side-slide{min-height: auto;top: 0;}
.nav01{top: 20px;}
.catergory_tab li {padding-bottom: 15px;}
.catergory_tab{padding-bottom: 70px;}
.side-slide1{min-height: auto;top: 0;}
.catergory_tab li a{font-size: 16px;}

.mob_mode{display: block;}
.desk_mode{display: none;}
.inner_body .container-fluid { padding-right: 15px;padding-left: 15px;}
.inner_pages { padding: 15px 0px;}
.inner_pages .all_head_main{display: flex;}
.inner_pages .all_head_main .all_head_left{flex: 0 0 50%;margin: 0;}
.inner_pages .all_head_right ul li button{font-size: 25px;}
.inner_pages .nav02{top: 20px;}
.inner_pages .side-slide1{top: -20px;}
.sticky{position: relative;top: 0;}
.job_list_body{padding: 30px 0;}
.job_list_body_left { margin: 0 0 30px 0;}

.job_list_body_right_body_single_id ul li { padding-right: 0; padding-bottom: 10px;font-size: 14px;display: block;}
.head_title{font-size: 22px;}
.job_list_body_right_body_single_vac ul{grid-template-columns: 1fr;}
.job_list_body_right_body_single_btn ul li { padding-bottom: 20px;text-align: center;display: block;}
.view_details{text-align: center;margin: 0 auto;}
.apply_now{margin: 0 auto;}
.inner_menu_single h5{font-size:22px;}
.inner_menu_single ul li{padding-bottom: 14px;}
.inner_menu_single ul li a{font-size: 18px;}
.inner_ftr_copy_sec{display: block;}
.inner_ftr_copy_sec_single img {margin: 0 0 15px 0;}
.inner_ftr_copy_sec_single p {font-size: 18px;margin: 0 0 15px 0;}
.inner_ftr_copy_sec_single:last-child{text-align: center;}
.inner_ftr_copy_sec_single:first-child{text-align: center;}
.job_list_body_right_body{height: auto;overflow-y: inherit;}


.inner_menu_single h5{font-size: 20px;}
.inner_menu_single ul li{padding-bottom: 14px;}
.inner_menu_single ul li a{font-size: 18px;}
.inner_ftr_copy_sec_single img {width: 230px;}
.inner_ftr {padding: 25px 0 10px 0;}
.inner_menu_single h5 {font-size: 20px;margin: 0 0 15px 0;}
.inner_menu_single ul {padding-bottom: 15px;}
.inner_ftr_copy_sec_single p{font-size: 18px;}
.inner_ftr_copy_sec_single ul li a i { font-size: 17px;}
.inner_ftr_copy_sec_single ul li a {font-size: 17px;}
.inner_ftr_copy_sec_single ul li {padding-left: 10px;}
.inner_ftr_copy_sec_single ul li:last-child {padding-left: 20px;}


}
@media only screen and (max-width:767px) {
.sticky_header {position: fixed !important;top: 0px !important; left: 0; width: 100%;background: #fff;z-index: 99;padding: 15px 0;}
.all_head { position: relative; top: 0;}
.all_head_main{display: block;}
.all_head_right{padding-right: 0;text-align: center;}
.all_head_right ul li{color: #000;}
.all_head_right ul li button{color: #000;}
.side-slide1{width: 320px;padding: 20px;}
.side-slide{width: 320px;padding: 20px;}
.head_sec_main{grid-template-columns: 1fr;}
.head_sec_left{padding: 25px 15px 0;}
.head_sec_left_inner h1 {font-size: 35px;text-align: center;}
.head_sec_left_inner p {font-size: 16px;text-align: justify;margin: 0 0 30px 0;}
.want_write_main { grid-template-columns: 1fr;}
.want_write_right{padding: 0 15px;margin: 20px 0 0 0;}
.want_write_right h2{text-align: center;font-size: 25px;}
.want_write_right p {font-size: 20px;margin: 0 0 20px 0;text-align: center;}
.join_grow_cont p { margin: 20px 0; font-size: 25px;line-height: inherit;color: #000;}
.join_grow_cont{position: relative;bottom: 0;}
.talent_sec {padding: 60px 0 0px 0;}
.talent_head h3{font-size: 30px;margin: 0 0 20px 0;}
.talent_sec_cont{grid-template-columns: 1fr;grid-gap: 2px;}
.talent_appear {padding: 40px 15px 20px;}
.talent_appear_left_head h1 {font-size: 25px;margin: 0 0 30px 0;text-align: center;}
.talent_appear_left_head p {font-size: 20px;margin: 0 0 20px 0;}
.list_sec li {padding: 0 0 15px 0;font-size: 18px;}
.talent_appear_right ul {padding-top: 50px;}
.talent_appear_right ul li:nth-child(even){text-align: center;}
.talent_appear_right ul li{text-align: center;}
.talent_appear_right ul li h4{font-size: 50px;}
.talent_appear_right ul li h4 span{font-size: 20px;}
.talent_sec_cont_single_cont h5{font-size: 20px;}
.talent_sec_cont_single_cont p{font-size: 16px;}
.ftr_main_left{padding: 20px 15px 20px;min-height: auto;}
.ftr_logo{margin-bottom: 15px;}
.ftr_form_sec_main h4 {font-size: 35px;padding-bottom: 30px;}
.ftr_form_sec_single label {font-size: 16px;margin: 0 0 10px 0;}
.ftr_form_sec_single input {width: 100%;font-size: 16px;}
.ftr_form_sec_single {padding-bottom: 20px;}
.ftr_form_sec_single textarea{width: 100%;font-size: 16px;}
.ftr_form_sec_single button{font-size: 16px;}
.form_sec{padding-bottom: 25px;}
.copy_sec{font-size: 16px;}
.ftr_main_right{padding: 50px 15px 20px;}
.cont_sec {padding-bottom: 50px;}
.ftr_links li {padding-bottom: 15px;}
.ftr_links li a {font-size: 18px;}
.ftr_rgt_logo {padding: 40px 0px 40px 0px;}
.fbars:before{background:#000;}
.menu_sec_list {padding-top: 20px;padding-bottom: 10px;}
.menu_sec_list li {padding-bottom: 10px;}
.menu_sec_list a{font-size: 20px;}
.menu_sec_list2 li a{font-size: 16px;}
.menu_sec_list2 li{padding-bottom: 10px;}
.menu_sec_list2{padding-bottom: 100px;}
.side-slide{min-height: auto;top: 0;}
.catergory_tab li {padding-bottom: 15px;}
.catergory_tab{padding-bottom: 70px;}
.side-slide1{min-height: auto;top: 0;}
.catergory_tab li a{font-size: 16px;}

.mob_mode{display: block;}
.desk_mode{display: none;}
.inner_body .container-fluid { padding-right: 15px;padding-left: 15px;}
.inner_pages { padding: 15px 0px;}
.inner_pages .all_head_main{display: flex;}
.inner_pages .all_head_main .all_head_left{flex: 0 0 50%;}
.inner_pages .all_head_right ul li button{font-size: 25px;}
.inner_pages .nav02{top: 20px;}
.inner_pages .side-slide1{top: -20px;}
.sticky{position: relative;top: 0;}
.job_list_body{padding: 30px 0;}
.job_list_body_left { margin: 0 0 30px 0;}

.job_list_body_right_body_single_id ul li { padding-right: 0; padding-bottom: 10px;font-size: 14px;display: block;}
.head_title{font-size: 22px;}
.job_list_body_right_body_single_vac ul{grid-template-columns: 1fr;}
.job_list_body_right_body_single_btn ul li { padding-bottom: 20px;text-align: center;display: block;}
.view_details{text-align: center;margin: 0 auto;}
.apply_now{margin: 0 auto;}
.inner_menu_single h5{font-size:22px;}
.inner_menu_single ul li{padding-bottom: 14px;}
.inner_menu_single ul li a{font-size: 18px;}
.inner_ftr_copy_sec{display: block;}
.inner_ftr_copy_sec_single img {margin: 0 0 15px 0;}
.inner_ftr_copy_sec_single p {font-size: 18px;margin: 0 0 15px 0;}
.inner_ftr_copy_sec_single:last-child{text-align: center;}

.inner_menu_single h5{font-size: 20px;}
.inner_menu_single ul li{padding-bottom: 14px;}
.inner_menu_single ul li a{font-size: 18px;}
.inner_ftr_copy_sec_single img {width: 230px;}
.inner_ftr {padding: 25px 0 10px 0;}
.inner_menu_single h5 {font-size: 20px;margin: 0 0 15px 0;}
.inner_menu_single ul {padding-bottom: 15px;}
.inner_ftr_copy_sec_single p{font-size: 18px;}
.inner_ftr_copy_sec_single ul li a i { font-size: 17px;}
.inner_ftr_copy_sec_single ul li a {font-size: 17px;}
.inner_ftr_copy_sec_single ul li {padding-left: 10px;}
.inner_ftr_copy_sec_single ul li:last-child {padding-left: 20px;}



}






input,textarea { -webkit-user-select:text;}
select{-webkit-appearance: none;-moz-appearance: none;appearance: none;}













}