@media only screen and (min-width:1801px) and (max-width:3400px) {
.form_sec {padding-bottom: 200px;}

}
@media only screen and (min-width:1301px) and (max-width:1400px) {

}
@media only screen and (min-width:1200px) and (max-width:1300px) {


}
@media only screen and (min-width:992px) and (max-width:1199px) {

}
@media only screen and (min-width:768px) and (max-width:991px) {

}
@media only screen and (max-width:767px) {
.all_head { position: relative; top: 0;}
.all_head_main{display: block;}
.all_head_right{padding-right: 0;text-align: center;}
.all_head_right ul li{color: #000;}
.all_head_right ul li button{color: #000;}
.side-slide1{width: 320px;padding: 20px;}
.side-slide{width: 320px;padding: 20px;}








}