@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');
/*font-family: 'Raleway', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
/*font-family: 'Poppins', sans-serif;*/
::selection {
	background:#0096C7;
	color:#FFF;
}
::-moz-selection {
	background:#0096C7;
	color:#FFF;
}

/*html {scroll-behavior: smooth;}*/
select::-ms-expand { display: none; }
img{max-width:100%;height:auto;}
a{  -webkit-transition: all .3s ease;-moz-transition: all .3s ease;-o-transition: all .3s ease;-ms-transition: all .3s ease;transition: all .3s ease;}
h1 {margin:0px 0px 30px 0px;padding:0px;line-height: 1.2;font-weight:700;}
h2 {margin:0px 0px 25px 0px;padding:0px;line-height: 1.2;font-weight:600;}
h3 {margin:0px 0px 25px 0px;padding:0px;line-height: 46px;font-weight:600;}
h4 {margin:0px 0px 25px 0px;padding:0px;line-height: 1.2;font-weight:600;}
h5 {margin:0px 0px 15px 0px;line-height: 25px;font-weight:600;}
h6 {margin:0px 0px 15px 0px;line-height: 1.1;font-weight:normal;}

.spacer1px {clear:both;line-height:0;font-size:0;overflow:hidden;height:1px; background:none; margin:0px 0px 0px 0px;width:100%; border:none;}
.spacer10px {clear:both;line-height:0;font-size:0;overflow:hidden;height:10px; background:none; margin:0px 0px 0px 0px;width:100%; border:none;}
.spacer20px {clear:both;line-height:0;font-size:0;overflow:hidden;height:20px; background:none; margin:0px 0px 0px 0px;width:100%; border:none;}
.spacer30px {clear:both;line-height:0;font-size:0;overflow:hidden;height:30px; background:none; margin:0px 0px 0px 0px;width:100%; border:none;}
.spacer50px {clear:both;line-height:0;font-size:0;overflow:hidden;height:50px; background:none; margin:0px 0px 0px 0px;width:100%; border:none;}
.spacer80px {clear:both;line-height:0;font-size:0;overflow:hidden;height:50px; background:none; margin:0px 0px 0px 0px;width:100%; border:none;}


body {
	overflow-x:hidden;
	color:#333333;
	font-size:16px;
	line-height:1.4; 
	margin:0px; 
	padding:0px; 
	outline:none;
	text-decoration:none;
	list-style:none;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	background-color:#fff;
}

p{line-height:1.4;margin:0px 0px 20px 0px;font-family: 'Poppins', sans-serif;}
ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
a:hover{ text-decoration:none;}
-webkit-input-placeholder {color: #a1a1a1 !important; opacity:1 !important;font-family: 'Poppins', sans-serif;}
-moz-placeholder {color: #a1a1a1 !important; opacity:1 !important;font-family: 'Poppins', sans-serif;}
-ms-input-placeholder {color: #a1a1a1 !important; opacity:1 !important;font-family: 'Poppins', sans-serif;}
-moz-placeholder {color: #a1a1a1 !important; opacity:1 !important;font-family: 'Poppins', sans-serif;}
.form-control::-webkit-input-placeholder {color: #a1a1a1 !important; opacity:1 !important;}
.form-control::-moz-placeholder {color: #a1a1a1 !important; opacity:1 !important;}
.form-control:-ms-input-placeholder {color: #a1a1a1 !important; opacity:1 !important;}
.form-control:-moz-placeholder {color: #a1a1a1 !important; opacity:1 !important;}

:focus, button:focus {outline-style:none;box-shadow:none;border-color:transparent;}
*:focus {outline: none;}
input:focus{outline:none;}

.pagetitle{ position:relative; text-align:left; padding:0px 0px 70px 0px; }
.pagetitle h2{line-height: 1.1; font-size:51px;color:#fff;padding:0px; margin:0px 0px 0px 0px;}

img{max-width:100%;height:auto; outline:none;}
a{outline:none; border:none;}




.head_sec{position: relative;}
.head_sec_main{position: relative;display: grid;grid-template-columns: 1fr 1fr;grid-gap: 0px;align-items: center;}
.head_sec_right{position: relative;}
.head_sec_right img{width: 100%;}
.head_sec_left{position: relative;padding: 40px;}
.head_sec_left_inner h1{position: relative;color: #000000;font-family: 'Poppins', sans-serif;font-weight: 600;font-size: 65px;margin: 0 0 25px 0;}
.head_sec_left_inner p{position: relative;color: #7A7A7A;font-size: 24px;font-weight: 400;font-family: 'Poppins', sans-serif;}

.all_head{position: absolute;top: 20px;width: 100%;z-index: 1;}
.all_head_main{position: relative;display: flex; align-items: center;justify-content: space-between;}
.all_head_left{position: relative;flex: 0 0 331px;}
.all_head_left img{width: 100%;}
.all_head_right{position: relative;padding-right: 15px;}
.all_head_right ul{position: relative;display: block;}
.all_head_right ul li{padding: 0 0 0 15px;display: inline-block;color: #fff;position: relative;}
.all_head_right ul li a{font-size: 20px;font-weight: 600;color: #fff;position: relative;}
.all_head_right ul li button{font-size: 20px;font-weight: 600;color: #fff;position: relative;border: none;background: none;}
.fbars{padding-left: 50px !important;}
.fbars:before{position: absolute;left: 18px;top: 0px;height: 30px;width: 1px;background: #fff;content: '';}
.fbars a i{font-size: 25px;}
.fbars button{background: none;border: none;}
.fbars button i{font-size: 25px;}
.want_write{position: relative;}
.want_write_main{position: relative;display: grid;grid-template-columns: 1fr 1fr;align-items: center;}
.want_write_left{position: relative;height: 1080px;background: #000;opacity: 0.43;}
.want_write_right{position: relative;padding: 0 30px;}
.want_write_right h2{position: relative;font-size: 50px;font-weight: 600;margin: 0 0 30px 0;}
.want_write_right h2 span{font-style: italic;}
.want_write_right p{color: #7A7A7A;position: relative;font-size: 24px;margin: 0;}
.want_write_right p a{color: #EC4D4D;}

.join_grow{position: relative;}
.join_grow_img{position: relative;}
.join_grow_img img{width: 100%;}
.join_grow_cont{position: absolute;bottom: 40px;text-align: center;padding: 0;}
.join_grow_cont p{position: relative;margin: 0;font-size: 50px;line-height: 62px;color: #fff;font-weight: 600;font-family: 'Raleway', sans-serif;}

.talent_sec{position: relative;background: #000;padding: 130px 0 0px 0;}
.talent_head{position: relative;text-align: center;}
.talent_head h3{position: relative;font-size: 60px;font-weight: 600;font-family: 'Raleway', sans-serif;text-align: center;margin: 0 0 45px 0;padding-bottom: 20px;color: #fff;border-bottom: 1px solid #4f4f4f;display: inline-block;}
.talent_sec_cont{position: relative;display: grid;grid-template-columns: 1fr 1fr 1fr 1fr 1fr;grid-gap: 0px;}
.talent_sec_cont_single{position: relative;}
.talent_sec_cont_single_img{position: relative;}
.talent_sec_cont_single_img img{width: 100%;}
.talent_sec_cont_single_img:after{position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: rgba(0 0 0 / 0.78);*opacity: 0.78;*z-index: 1;content: '';}

.talent_sec_cont_single_cont{position: absolute;z-index: 1;padding: 0 15px;text-align: center;right: 0;left: 0;text-align: center;}
.talent_sec_cont_single_cont h5{position: absolute;font-family: 'Raleway', sans-serif;font-size: 25px;color: #fff;font-weight: bold;text-transform: uppercase;bottom: 350px;left: 0; right: 0;text-align: center;}
.talent_sec_cont_single_cont p{position: absolute;font-family: 'Raleway', sans-serif;font-size: 20px;color: #fff;font-weight: bold;top: -160px;padding: 0 15px;margin: 0;text-align: center;}
.talent_appear{position: relative;background: #000;padding: 80px 90px 50px;}
.talent_appear_main{position: relative;}
.talent_appear_left{position: relative;}
.talent_appear_left_head{position: relative;}
.talent_appear_left_head h1{position: relative;font-family: 'Raleway', sans-serif;color: #fff;font-size: 60px;font-weight: bold;margin: 0 0 50px 0;}
.talent_appear_left_head p{position: relative;color: #fff;font-family: 'Raleway', sans-serif;font-weight: 600;font-size: 25px;margin: 0 0 40px 0;}
.list_sec{position: relative;}
.list_sec li{position: relative;padding: 0 0 25px 0;font-size: 25px;color: #fff;opacity: 0.58;}
.talent_appear_right{position: relative;}
.talent_appear_right ul{position: relative;display: block;padding-top: 100px;}
.talent_appear_right ul li{position: relative;padding-bottom: 0px;}
.talent_appear_right ul li h4{position: relative;font-size: 80px;color: #fff;display: inline-block;font-family: 'Raleway', sans-serif;font-weight: 600;line-height: 64px; text-align: center;*width: 250px;margin: 0;}
.talent_appear_right ul li h4 span{position: relative;font-size: 40px;color: #fff;display: inline-block;font-family: 'Raleway', sans-serif;font-weight: 600;}
.talent_appear_right ul li:nth-child(even){text-align: right;}

.ftr_main{position: relative;padding: 0px;background: #000;}
.ftr_main_sec{position: relative;}
.ftr_main_left{position: relative;background: #fff url(../images/ftr_bg.png);background-position: top left;background-repeat: no-repeat;background-size: cover;padding: 50px 30px 20px;*height: 1110px;min-height: 100%;}
.ftr_logo{position: relative;padding-bottom: 50px;}
.ftr_form_sec_main{position: relative;}
.ftr_form_sec_main h4{position: relative;font-size: 100px;font-family: 'Raleway', sans-serif;font-weight: bold;color: #000;padding-bottom: 50px;margin: 0;}
.ftr_form_sec_single{position: relative;padding-bottom: 40px;}
.ftr_form_sec_single label{position: relative;font-size: 20px;color: #060606;font-family: 'Raleway', sans-serif;font-weight: bold;display: block;margin: 0 0 15px 0;}
.ftr_form_sec_single input{position: relative;width: 100%;border: none;border-bottom: 2px solid rgba(6 6 6 / 0.18);background: none;font-size: 20px;font-family: 'Raleway', sans-serif;font-weight: bold;color: rgba(6 6 6 / 0.18);}
.ftr_form_sec_single textarea{position: relative;width: 100%;border: none;border-bottom: 2px solid rgba(6 6 6 / 0.18);background: none;font-size: 20px;font-family: 'Raleway', sans-serif;font-weight: bold;color: rgba(6 6 6 / 0.18);*height: 32px;font-family: 'Raleway', sans-serif;}

.ftr_form_sec_single input::-webkit-input-placeholder {color: rgba(6 6 6 / 0.18); opacity:1 !important;}
.ftr_form_sec_single input::-moz-placeholder {color: rgba(6 6 6 / 0.18); opacity:1 !important;}
.ftr_form_sec_single input:-ms-input-placeholder {color: rgba(6 6 6 / 0.18); opacity:1 !important;}
.ftr_form_sec_single input:-moz-placeholder {color: rgba(6 6 6 / 0.18); opacity:1 !important;}
.ftr_form_sec_single textarea::-webkit-input-placeholder {color: rgba(6 6 6 / 0.18); opacity:1 !important;}
.ftr_form_sec_single textarea::-moz-placeholder {color: rgba(6 6 6 / 0.18); opacity:1 !important;}
.ftr_form_sec_single textarea:-ms-input-placeholder {color: rgba(6 6 6 / 0.18); opacity:1 !important;}
.ftr_form_sec_single textarea:-moz-placeholder {color: rgba(6 6 6 / 0.18); opacity:1 !important;}

.ftr_form_sec_single button{position: relative;font-family: 'Raleway', sans-serif;font-weight: bold;border: 1px solid #000000;font-size: 20px;text-transform: uppercase;background: none;padding: 5px 10px;transition: 0.5s ease-in-out;}
.ftr_form_sec_single button:hover{background: #000;color: #fff;}
.form_sec{position: relative;padding-bottom: 70px;}
.copy_sec{position: relative;color: #606060;font-size: 20px;margin: 0;font-family: 'Raleway', sans-serif;font-weight: 500;}
.ftr_main_right{position: relative;padding: 230px 15px 20px;background: #000;min-height: 100%;}
.ftr_main_right h5{position: relative;font-size: 20px;font-family: 'Raleway', sans-serif;font-weight: bold;margin: 0 0 30px 0;color: #fff;}

.cont_sec{position: relative;padding-bottom: 150px;}
.cont_sec li{padding-bottom: 18px;}
.cont_sec li a{position: relative;font-size: 17px;color: #FF4A4A;font-family: 'Raleway', sans-serif;font-weight: bold;}
.cont_sec li a i{color: #fff;padding-right: 15px;font-weight: 600;}

.ftr_links{position: relative;}
.ftr_links li{padding-bottom: 25px;}
.ftr_links li a{position: relative;font-size: 20px;font-family: 'Raleway', sans-serif;font-weight: bold;color: #fff;}
.ftr_links li a:hover{text-decoration: underline;}
.ftr_rgt_logo{position: relative;text-align: center;padding: 140px 15px 140px 0px;}

.ftr_social{position: relative;text-align: right;}
.ftr_social ul{display: block;}
.ftr_social ul li{display: inline-block;padding-left: 30px;}
.ftr_social ul li a{font-size: 24px;color: #fff;font-weight: 500;}


.side-slide {background-color: #fff; top: -20px;right: -400px;position: absolute;width: 400px;min-height: 820px;padding: 30px;border: 1px solid #f1f1f1;animation: fadeInRight;overflow-y: scroll;}
.menu_sec_list li{padding-bottom: 20px;}
.menu_sec_list a {color: #000;font-weight: bold;font-size: 25px;text-transform: capitalize;font-family: 'Poppins', sans-serif;font-weight: 600;}
.nav01 {cursor: pointer;position: absolute;right: 30px;top: 40px;font-size: 30px;color: #000;margin: 0;line-height: inherit;}
.ftr_main_sec .row .col-lg-9 {padding: 0;}
.slide_logo{position: relative;width: 50%;display: inline-block;}
.menu_sec_list{position: relative;padding-top: 50px;padding-left: 10px;padding-bottom: 40px;}

.menu_sec_list2{position: relative;padding-left: 10px;padding-bottom: 180px;}
.menu_sec_list2 li{display: block;padding-bottom: 15px;}
.menu_sec_list2 li a{color: #6A6A6A;position: relative;font-size: 18px;font-weight: 500;opacity: 0.76;}
.location{position: relative;font-size: 18px;font-weight: 500;border-top: 1.5px solid #FF0000;padding-top: 20px;color: #000;display: flex;align-items: center;justify-content: space-between;}

.side-slide1 {background-color: #fff; top: -20px;right: -400px;position: absolute;width: 400px;min-height: 820px;padding: 30px;border: 1px solid #f1f1f1;animation: fadeInRight;}
.nav02 {cursor: pointer;position: absolute;right: 30px;top: 40px;font-size: 30px;color: #000;margin: 0;line-height: inherit;}
.catergory_tab{position: relative;padding-bottom: 110px;padding-top: 40px;}
.catergory_tab li{padding-bottom: 22px;}
.catergory_tab li a{font-size: 18px;font-weight: 500;display: flex;align-items: center;justify-content: space-between;color: #000;}
.catergory_tab li a img{color: #2c3e50;}
.remove{display: none;transition: 0.5s ease-in-out;}

.sticky_header {position: fixed !important;top: 0px !important; left: 0; width: 100%;*background: #fff;z-index: 99;padding: 15px 0; /*padding: 5px 0;
  -webkit-box-shadow: 0 1px 7px 0 rgba(0,0,0,.4);-moz-box-shadow: 0 1px 7px 0 rgba(0,0,0,.4);box-shadow: 0 1px 7px 0 rgba(0,0,0,.4);*/}
/*.sticky_header .all_head_right ul li button{color: #000;}
.sticky_header .all_head_right ul li.fbars:before{background: #000;}
*/

/*Inner Pages*/

.inner_body .container-fluid{padding-right: 50px;padding-left: 50px;}

.inner_pages{position: relative;box-shadow: 0px 3px 10px #92929229;top: 0;padding: 40px 0px;}
.inner_head_list{position: relative;}
.inner_head_list ul{display: block;}
.inner_head_list ul li{display: inline-block;padding-right: 50px;}
.inner_head_list ul li:last-child{padding-right: 0;}
.inner_head_list ul li a{color: #000;position: relative;font-size: 18px;text-transform: uppercase;font-weight: 600;}
.inner_head_list ul li a:hover{color: #0096c7;}
.join_btn{border: 1px solid #707070;padding: 5px 25px;border-radius: 50px;}
.search_btn i{color: #9F9E9E;font-size: 32px;font-weight: 600 !important;padding-top: 10px;}
.bold{font-weight: bold !important;font-size: 21px !important;}

.inner_ftr{position: relative;background: #F9F9F9;box-shadow: 0px -3px 10px #92929229;padding: 40px 0 20px 0;}
.inner_ftr_menu{position: relative;}
.inner_menu_single{position: relative;}
.inner_menu_single h5{position: relative;font-size: 25px;color: #0C0000A8;font-weight: 600;margin: 0 0 20px 0;}
.inner_menu_single ul {position: relative;display: block;padding-bottom: 20px;}
.inner_menu_single ul li{padding-bottom: 18px;}
.inner_menu_single ul li a{font-size: 23px;font-weight: 500;color: #0C0000A8;}

.inner_ftr_copy_sec{position: relative;padding: 15px 0 0 0px;border-top: 1px solid #707070;display: flex;align-items: center;justify-content: space-between;}

.inner_ftr_copy_sec_single{position: relative;flex: 1 1 0px;text-align: center;}
.inner_ftr_copy_sec_single img{width: 331px;}
.inner_ftr_copy_sec_single ul{display: block;}
.inner_ftr_copy_sec_single:first-child{text-align: left;}
.inner_ftr_copy_sec_single:last-child{text-align: right;}
.inner_ftr_copy_sec_single p{font-size: 25px;font-weight: 500;color: #606060;margin: 0;}
.inner_ftr_copy_sec_single ul{position: relative;}
.inner_ftr_copy_sec_single ul li{display: inline-block;padding-left: 15px;}
.inner_ftr_copy_sec_single ul li:last-child{padding-left: 35px;}
.inner_ftr_copy_sec_single ul li a{position: relative;color: #606060;font-size: 25px;}
.inner_ftr_copy_sec_single ul li a i{font-size: 25px;}
.inner_ftr_copy_sec_single ul li:last-child span{font-size: 23px;color: #606060;padding-right: 5px;}
.inner_ftr_copy_sec_single ul li:last-child select {font-size: 25px;background: #f9f9f9 url(../images/select.png) no-repeat 96% center; border: none;font-weight: 600;color: #606060; width: 70px;font-family: 'Poppins', sans-serif;}
.inner_ftr_copy_sec_single ul li:last-child select option{font-size: 16px;padding: 5px 0;}
.inner_ftr_copy_sec_single ul li:last-child select -webkit-input-placeholder {color: #606060 !important; opacity:1 !important;font-family: 'Poppins', sans-serif;}
.inner_ftr_copy_sec_single ul li:last-child select -moz-placeholder {color: #606060 !important; opacity:1 !important;font-family: 'Poppins', sans-serif;}
.inner_ftr_copy_sec_single ul li:last-child select -ms-input-placeholder {color: #606060 !important; opacity:1 !important;font-family: 'Poppins', sans-serif;}
.inner_ftr_copy_sec_single ul li:last-child select -moz-placeholder {color: #606060 !important; opacity:1 !important;font-family: 'Poppins', sans-serif;}
.job_list_body{position: relative;padding: 60px 0;}
.job_list_body_main{position: relative;}
.job_list_body_left{position: relative;border-radius: 5px;border: 0.5px solid #ABABAB;box-shadow: 0px 10px 10px #00000029;padding: 20px;}
.job_list_body_left_head{position: relative;display: flex;align-items: center;justify-content: space-between;padding-bottom: 20px;}
.job_list_body_left_head span{position: relative;font-size: 16px;color: #000;font-weight: 500;}
.job_list_body_left_head span i{padding-right: 5px;font-weight: 600 !important;}
.job_list_body_left_head h6{margin: 0;position: relative;font-size: 16px;color: #000;font-weight: 500;}
.job_list_body_left_body{position: relative;}
.job_list_body_left_body_single{position: relative;margin: 0 0 20px 0;}
.job_list_body_left_body_single label{position: relative;font-size: 13px;font-weight: 500;color: #000;margin: 0 0 5px 0;display: block;font-family: 'Poppins', sans-serif;}
.job_list_body_left_body_single input{position: relative;height: 25px;border: 1px solid #000;border-radius: 5px;padding-left: 10px;font-size: 11px;font-weight: 500;color: #AAAAAA;width: 100%;font-family: 'Poppins', sans-serif;}
.job_list_body_left_body_single input -webkit-input-placeholder {color: #AAAAAA !important; opacity:1 !important;font-family: 'Poppins', sans-serif;}
.job_list_body_left_body_single input -moz-placeholder {color: #AAAAAA !important; opacity:1 !important;font-family: 'Poppins', sans-serif;}
.job_list_body_left_body_single input -ms-input-placeholder {color: #AAAAAA !important; opacity:1 !important;font-family: 'Poppins', sans-serif;}
.job_list_body_left_body_single input -moz-placeholder {color: #AAAAAA !important; opacity:1 !important;font-family: 'Poppins', sans-serif;}

.job_list_body_left_body_single select {background: #fff url(../images/select-tag.png) no-repeat 96% center; position: relative;height: 25px;border: 1px solid #000;border-radius: 5px;padding-left: 10px;font-size: 11px;font-weight: 500;color: #AAAAAA;width: 100%;background-size: 10px;}
.job_list_body_left_body_single p{font-size: 11px;color: #9F9E9E;padding-top: 5px;margin: 0;}
.calender i{position: absolute;right: 10px;color: #CECECE;font-size: 13px;top: 30px;font-weight: 500;}
.min_max{position: relative;display: flex;align-items: center;justify-content: space-between;padding-top: 10px;}
.min_max label{margin: 0;}
.min_max_head{margin-bottom: 10px;}
.rating_star{padding-left: 5px;}
.rating_star i{font-size: 13px;color: #FFA534;}
.rating_star .b-star{font-weight: 600 !important;}
.rating_star{position: relative;padding-top: 15px;}
.rating_star ul {display: flex;align-items: center;justify-content: space-around;}
.rating_star ul li{display: inline-block;font-size: 12px;font-weight: 600;}
.rating_star ul li i{padding-left: 5px;font-weight: 600 !important;font-size: 12px;}


.job_list_body_right{position: relative;}
.job_list_body_right_search_sec{position: relative;margin: 0 0 20px 0;}
.job_list_body_right_search_sec input{position: relative;width: 100%;padding: 10px 0 10px 60px;border: 1px solid #707070;border-radius: 18px;color: #9F9E9E;font-size: 19px;}
.job_list_body_right_search_sec input -webkit-input-placeholder {color: #9F9E9E !important; opacity:1 !important;font-family: 'Poppins', sans-serif;}
.job_list_body_right_search_sec input -moz-placeholder {color: #9F9E9E !important; opacity:1 !important;font-family: 'Poppins', sans-serif;}
.job_list_body_right_search_sec input -ms-input-placeholder {color: #9F9E9E !important; opacity:1 !important;font-family: 'Poppins', sans-serif;}
.job_list_body_right_search_sec input -moz-placeholder {color: #9F9E9E !important; opacity:1 !important;font-family: 'Poppins', sans-serif;}
.job_list_body_right_search_sec i{position: absolute;top: 14px;left: 20px;font-size: 22px;color: #9F9E9E;font-weight: 600 !important;z-index: 1;}

.rangeslider{position:relative;display:block;cursor:pointer;height:10px;width:100%}
.rangeslider__fill,.rangeslider__fill__bg,.rangeslider__handle{display:block;position:absolute;top:50%;height:7px;z-index:2;background:#15B5EA;border-radius:10px;will-change:width}
.rangeslider__handle{will-change:width,height,top;width:14px;height:14px;display:inline-block;z-index:3;cursor:pointer;border:solid 2px #fff;border-radius:50%;-webkit-transition:width .1s ease-in-out,height .1s ease-in-out,top .1s ease-in-out;transition:width .1s ease-in-out,height .1s ease-in-out,top .1s ease-in-out;top: 9px;}
.rangeslider__handle:active{background:#107ecd}
.rangeslider__fill__bg{background:#B1ECFF;width:100%}
.rangeslider--disabled{opacity:.4}

.job_list_body_right_body{position: relative;height: 2870px;overflow-y: scroll;}
.job_list_body_right_body_single{position: relative;box-shadow: 0px 10px 10px #00000029;border: 1px solid #D6D6D6;border-radius: 29px;padding: 20px 20px;margin: 0 0 30px 0;}
.job_list_body_right_body_single_id{position: relative;padding-bottom: 10px;}
.job_list_body_right_body_single_id ul{position: relative;display: block;}
.job_list_body_right_body_single_id ul li{display: inline-block;padding-right: 15px;font-size: 17px;color: #000000;font-weight: 500;*padding-bottom: 10px;line-height: 30px;}
.job_list_body_right_body_single_id ul li:last-child{padding-right: 0;}
.job_list_body_right_body_single_id ul li span{color: #9F9E9E;}
.client_rating_sec{position: relative;display: flex;}
.client_rating_sec span{font-size: 12px;color: #989898;}
.client_rating_sec span span{color: #FBB03B !important;}
.client_rating_sec span i{color: #FBB03B !important;font-weight: 600 !important;}
.featured_job span { background: rgb(0 150 199 / 48%); *padding: 6px 15px;font-size: 14px;display: block;
    color: #000 !important; border-radius: 8px; font-weight: 600;padding: 3px 15px;}
.featured_job span img{padding: 0 10px 0 0;}
.head_title{position: relative;font-size: 34px;font-weight: 600;color: #000;margin: 10px 0 15px 0;}
.marker i{font-weight: 600;font-size: 21px;padding-right: 5px;}
.payment_title span{font-size: 24px;color: #3E9C35 !important;text-transform: uppercase;}

.job_list_body_right_body_single_vac{position: relative;}
.job_list_body_right_body_single_vac ul{position: relative;display: grid;grid-template-columns: 1fr 1fr 1fr 1fr; grid-gap: 15px;}
.job_list_body_right_body_single_vac ul li{display: inline-block;font-size: 14px;color: #000000;font-weight: 500;*padding-bottom: 10px;background: #E9E9E9;border-radius: 8px;text-align: center;*line-height: 30px;padding: 12px 20px;}

.job_list_body_right_body_single_btn{position: relative;text-align: right;margin: 30px 0 0 0;}
.job_list_body_right_body_single_btn ul{position: relative;display: block;}
.job_list_body_right_body_single_btn ul li{display: inline-block;padding-left: 20px;}
.view_details {position: relative;width: 195px; height: 50px;background: #C4C4C4;border-radius: 7px;box-shadow: 0px 3px 6px #00000029; font-size: 16px; color: #000; font-weight: 500; display: flex; text-align: center;align-items: center;
    justify-content: center;*padding: 15px 0;transition: 0.5s ease-in-out;border: 1px solid #fff;}
.view_details:hover{background: #C4C4C4;color: #000;}
.view_details:focus{border: none;color: #000;}
.view_details img{padding-right: 8px;}
.apply_now {position: relative;width: 195px; height: 50px;background: #0096C7;border-radius: 7px;box-shadow: 0px 3px 6px #00000029; font-size: 16px; color: #fff; font-weight: 500; display: flex; text-align: center;align-items: center;
    justify-content: center;*padding: 15px 0;border: 1px solid #fff;}
.apply_now:focus{border: none;color: #fff;}
.apply_now img{padding-right: 8px;}
.apply_now:hover{background: #0096C7;color: #fff;}

.overlay {position: absolute;top: 0;left: 0;width: 100%;height:1000Vh;display:none;}
.overlay.open {display:block}

[slider] {position: relative;height: 8px;border-radius: 8px;text-align: left;margin: 10px 0 10px 0;
}
[slider] > div { position: absolute; left: 0px; right: 0px;height: 7px;}
[slider] > div > [inverse-left] {position: absolute;left: 0;height: 7px;border-radius: 10px;
  background-color: #B1ECFF;margin: 0;}
[slider] > div > [inverse-right] {position: absolute;right: 0;height: 7px;border-radius: 10px;
  background-color: #B1ECFF;margin: 0;}
[slider] > div > [range] {position: absolute;left: 0;height: 7px;border-radius: 10px;  background-color: #15B5EA;}
[slider] > div > [thumb] {position: absolute;top: -5px;z-index: 2;height: 18px;width: 18px;
  text-align: left;margin-left: 0px;cursor: pointer;*box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
  background-color: #15B5EA;border-radius: 50%;outline: none;}
[slider] > input[type=range] { position: absolute;pointer-events: none;-webkit-appearance: none;
  z-index: 3;height: 14px;top: -2px;width: 100%; filter: alpha(opacity=0);-moz-opacity: 0;
  -khtml-opacity: 0;opacity: 0;}
div[slider] > input[type=range]::-ms-track {-webkit-appearance: none;background: transparent;
  color: transparent;}
div[slider] > input[type=range]::-moz-range-track {-moz-appearance: none;background: transparent;
  color: transparent;}
div[slider] > input[type=range]:focus::-webkit-slider-runnable-track {background: transparent;
  border: transparent;}
div[slider] > input[type=range]:focus {outline: none;}
div[slider] > input[type=range]::-ms-thumb {pointer-events: all;width: 14px;height: 14px;
  border-radius: 0px;border: 0 none;background: red;}
div[slider] > input[type=range]::-moz-range-thumb {pointer-events: all;width: 14px;height: 14px;
  border-radius: 0px;border: 0 none;background: red;}
div[slider] > input[type=range]::-webkit-slider-thumb {pointer-events: all;width: 14px;
  height: 14px;border-radius: 0px;border: 0 none;background: red;-webkit-appearance: none;}
div[slider] > input[type=range]::-ms-fill-lower {background: transparent;border: 0 none;}
div[slider] > input[type=range]::-ms-fill-upper {background: transparent;border: 0 none;}
div[slider] > input[type=range]::-ms-tooltip { display: none;}
[slider] > div > [sign] {opacity: 0;position: absolute;margin-left: -11px;top: -39px;
  z-index:3; background-color: #85d0f3;color: #fff;width: 28px;height: 28px;border-radius: 28px;
  -webkit-border-radius: 28px;align-items: center;-webkit-justify-content: center;
  justify-content: center;text-align: center;}
[slider] > div > [sign]:after {position: absolute;content: '';left: 0;border-radius: 16px;
  top: 19px; border-left: 14px solid transparent; border-right: 14px solid transparent;
  border-top-width: 16px;border-top-style: solid;border-top-color: #1ABC9C;}
[slider] > div > [sign] > span {font-size: 12px;font-weight: 700;line-height: 28px;}
[slider]:hover > div > [sign] {opacity: 1;}

.job_list_body_left_body_btn{position: relative;margin: 10px 0;display: flex; align-items: center; justify-content: center;}
.btn_apply{position: relative;display: block;width: 88px;height: 33px;font-size: 13px;font-weight: 600;text-transform: uppercase;border: 1px solid #fff;box-shadow: 0px 3px 6px #00000029;border-radius: 7px;color: #fff;background: #0096C7;text-align: center;align-items: center; display: flex; justify-content: center;margin: 0 15px 0 0}
.btn_apply:hover{color: #fff}
.all_btn{position: relative;display: block;width: 88px;height: 33px;font-size: 13px;font-weight: 600;text-transform: uppercase;border: 1px solid #fff;box-shadow: 0px 3px 6px #00000029;border-radius: 7px;color: #000000;background: #CECECE;text-align: center;align-items: center; display: flex;justify-content: center;}
.all_btn:hover{color: #000}
.job_list_body_right_body::-webkit-scrollbar-track{/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/border-radius: 0px;
	background-color: #F5F5F5;border:0.5px solid #9B9B9B;}
.job_list_body_right_body::-webkit-scrollbar{width: 16px;background-color: #F5F5F5;}
.job_list_body_right_body::-webkit-scrollbar-thumb{border-radius: 0px;/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
	background-color: #9B9B9B;}
.new_right_body{padding-right: 40px; margin-right: -50px;}
.sticky{position: sticky;top: 50px; position: -webkit-sticky;}
.mob_mode{display: none;}
.desk_mode{display: block;}

/*.form_design{position: relative;}
.form_body{position: relative;background: #0093FF;height: 100%;}
.website-logo { display: inline-block;top: 50px;left: 50px; right: initial;bottom: initial;}
.website-logo {display: inline-block;position: absolute; z-index: 1000;top: 50px;left: 50px;right: initial;bottom: initial;}*/


.sing_in_pop .modal-dialog {max-width: 650px;margin: 10px auto !important;width: 650px;}
.sing_in_pop .modal-content{box-shadow: 0px 3px 6px #00000029;border-radius: 41px;padding: 40px 25px;}
.sing_in_pop .modal-header {padding: 0;border-bottom: none;display: flex;align-items: center;justify-content: flex-start;
    width: 100%;padding-bottom: 0px;}
.sing_in_pop .modal-header .close {top: 45px;position: absolute;right: 40px;opacity: 1;font-size: 40px;font-weight: 400 !important;padding: 0;}
.nav_tabs {position: relative;padding: 10px 15px;border-radius: 50px;border: 0.5px solid #707070;}
.nav_tabs li {margin-bottom: 0;position: relative; border: none;box-shadow: none;}
.nav_tabs li.active a {border: 1px solid #0096C7 !important;background-color: #0096C7 !important;
    color: #fff !important;font-size: 15px;font-weight: 600;border-radius: 50px;padding: 12px 20px;border-color: #0096C7 !important;}
.nav_tabs li a.active {border: 1px solid #0096C7 !important;background-color: #0096C7 !important;color: #fff !important;
    font-size: 15px;font-weight: 600;border-radius: 50px;padding: 12px 20px;border-color: #0096C7 !important;}
.nav_tabs li a {border: 1px solid #fff !important;background: #fff !important;color: #C4C4C4;font-size: 15px;
    font-weight: 600; border-radius: 50px;padding: 12px 20px; }
.nav_tabs li:hover a {border: 1px solid #fff !important;background: #fff;color: #C4C4C4;font-size: 15px;
    font-weight: 600;border-radius: 50px;padding: 12px 20px;}
.nav_tabs li:first-child() a{margin: 0 15px 0 0;}
.first_panel{position: relative;padding-top: 15px;}
.panel_logo{position: relative;margin: 0 auto;text-align: center;}
.sign_head {position: relative;font-size: 25px;color: #000000;text-align: center;margin: 10px 0 20px 0;line-height: 33px;}
.sign_input input {position: relative; background: #fff;border: 1px solid #000000;font-size: 16px;
    color: #AAAAAA;padding: 13px 10px; width: 100%;padding-left: 15px; margin-bottom: 20px !important; border-radius: 4px;}
.sign_input input ::-webkit-input-placeholder {color: #AAAAAA; opacity:1 !important;}
.sign_input input ::-moz-placeholder {color: #AAAAAA; opacity:1 !important;}
.sign_input input :-ms-input-placeholder {color: #AAAAAA; opacity:1 !important;}
.sign_input input :-moz-placeholder {color: #AAAAAA; opacity:1 !important;}
.register_btn{position: relative;height: 50px;width: 100%;vertical-align: middle;display: flex;align-items: center;justify-content: center;font-size: 16px;font-weight: 500;color: #fff;background: #4E93D4;
    border: 1px solid #fff;transition: 0.5s ease-in-out;border-radius: 4px;}
.register_btn:hover{background: #0096C7;color: #fff;}
.inner_head_list ul li a:focus{outline: 0;outline-offset: 0;}
.or_sign_up{position: relative;margin: 25px 0;}
.or_sign_up p{color: #000000;font-size: 16px;font-weight: 500;background: #fff;padding: 0 15px;text-align: center;margin:0;}
.or_sign_up p:before {position: absolute; left: 0;height: 1px;width: 30%;background: #C4C4C4;content: '';top: 10px;}
.or_sign_up p:after {position: absolute;right: 0;height: 1px; width: 30%;background: #C4C4C4;content: '';top: 10px;}

.signup_other{position: relative;display: flex;align-items: center;justify-content: space-between;}
.signup_other a{position: relative;background: #DBDBDB;padding: 12px 30px;font-size: 14px;color: #000000;font-weight: 500;border-radius: 5px;}
.signup_other a img{margin-right: 10px;}
.otp_btn {position: relative;font-size: 14px;font-weight: 500;color: #4E93D4;display: block;text-align: right;margin: 0 0 15px 0;}
.field-icon{position: absolute;top: 15px;right: 30px;font-size: 20px;}
.all_head{position: relative;font-size: 28px;color: #000;text-align: center;font-weight: 600;}
.frgt_pass{position: relative;display: flex;align-items: center;justify-content: space-between;}
.frgt_para{color: #000000;font-size: 18px;font-weight: 500;}
.frgt_para_new{color: #4E93D4;font-size: 18px;font-weight: 500;}
.terms_para {position: relative;padding: 15px 0 0 0; margin: 0;font-size: 15px; color: #000;text-align: center;line-height: 23px;}
.terms_para a {color: #000;text-decoration: underline;}
.check_box_sec{position: relative;}

.check_box_sec .container {display: inline-block;position: relative;padding-left: 35px;margin-bottom: 12px;
    cursor: pointer;-webkit-user-select: none;-moz-user-select: none; -ms-user-select: none;user-select: none;width: auto;    font-weight: 500;
    font-size: 18px;}
.check_box_sec .container input {position: absolute;opacity: 0;cursor: pointer;height: 0;width: 0;}
.check_box_sec .checkmark {position: absolute;top: 0;left: 0; height: 22px; width: 22px;background-color: #fff;border: 1px solid #000000;}
.check_box_sec .container:hover input ~ .checkmark {background-color: #fff;border: 1px solid #000000;}
.check_box_sec .container input:checked ~ .checkmark {background-color: #fff;}
.check_box_sec .checkmark:after {content: "";position: absolute;display: none;}
.check_box_sec .container input:checked ~ .checkmark:after {display: block;}
.check_box_sec .container .checkmark:after {left: 7px;top: 3px;width: 7px;height: 10px;border: 1px solid #000000;border-width: 0 3px 3px 0;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);}


.view_details_pop .modal.right .modal-dialog {position: fixed;margin: auto;height: 100%;-webkit-transform: translate3d(0%, 0, 0); -ms-transform: translate3d(0%, 0, 0); -o-transform: translate3d(0%, 0, 0); transform: translate3d(0%, 0, 0);    max-width: 950px !important;width: 950px !important;}
.view_details_pop .modal.right .modal-content {height: 100%;overflow-y: auto;*top: 93px;border:none;}
.view_details_pop .modal.right .modal-body {padding: 70px 40px 20px;border: 1px solid #7070705c;border-radius: 0;}
.view_details_pop .modal.right.fade .modal-dialog {right: -320px;-webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
-moz-transition: opacity 0.3s linear, right 0.3s ease-out;-o-transition: opacity 0.3s linear, right 0.3s ease-out;
		        transition: opacity 0.3s linear, right 0.3s ease-out;}

.job_list_body_right_body_single_id_new{position: relative;padding-bottom: 10px;}
.job_list_body_right_body_single_id_new ul{position: relative;display: block;}
.job_list_body_right_body_single_id_new ul li{display: inline-block;padding-right: 15px;font-size: 17px;color: #000000;font-weight: 500;*padding-bottom: 10px;line-height: 30px;}
.job_list_body_right_body_single_id_new ul li:last-child{padding-right: 0;}
.job_list_body_right_body_single_id_new ul li span{color: #9F9E9E;}
.client_rating_sec{position: relative;display: flex;}
.client_rating_sec span{font-size: 12px;color: #989898;}
.client_rating_sec span span{color: #FBB03B !important;}
.client_rating_sec span i{color: #FBB03B !important;font-weight: 600 !important;}
.featured_job span { background: rgb(0 150 199 / 48%); *padding: 6px 15px;font-size: 14px;display: block;
    color: #000 !important; border-radius: 8px; font-weight: 600;padding: 3px 15px;}
.featured_job span img{padding: 0 10px 0 0;}
.marker_new i{font-weight: 600;font-size: 21px;padding-right: 5px;color: #9F9E9E;}
.payment_title span{font-size: 24px;color: #3E9C35 !important;text-transform: uppercase;}

.job_list_body_right_body_single_vac_new{position: relative;}
.job_list_body_right_body_single_vac_new ul{position: relative;display: grid;grid-template-columns: 1fr 1fr 1fr 1fr; grid-gap: 15px;}
.job_list_body_right_body_single_vac_new ul li{display: inline-block;font-size: 18px;color: #000000;font-weight: 600;*padding-bottom: 10px;background: #E9E9E9;border-radius: 8px;text-align: center;*line-height: 30px;padding: 12px 20px;}

.job_list_body_right_body_single_btn_popup{position: relative;text-align: left;margin: 15px 0;}
.job_list_body_right_body_single_btn_popup ul{position: relative;display: block;}
.job_list_body_right_body_single_btn_popup ul li{display: inline-block;}
.view_details_popup {position: relative;width: 195px; height: 50px;background: #C4C4C4;border-radius: 7px;box-shadow: 0px 3px 6px #00000029; font-size: 16px; color: #000; font-weight: 500; display: flex; text-align: center;align-items: center;
    justify-content: center;*padding: 15px 0;transition: 0.5s ease-in-out;border: 1px solid #fff;}
.view_details_popup:hover{background: #C4C4C4;color: #000;}
.view_details_popup:focus{border: none;color: #000;}
.view_details_popup img{padding-right: 8px;}
.apply_now_popup {position: relative;width: 180px; height: 45px;background: #0096C7;border-radius: 7px;box-shadow: 0px 3px 6px #00000029; font-size: 14px; color: #fff; font-weight: 500; display: flex; text-align: center;align-items: center;
    justify-content: center;*padding: 15px 0;border: 1px solid #fff;}
.apply_now_popup:focus{border: none;color: #fff;}
.apply_now_popup img{padding-right: 8px;}
.apply_now_popup:hover{background: #0096C7;color: #fff;}

.space {clear:both;line-height:0;font-size:0;overflow:hidden;height:0px; background:none; margin:25px 0;width:100%; border-top:1px solid #cfcfcf;}
.audition_attach{position: relative;margin: 25px 0 0 0;}
.audition_attach a{position: relative;border: 1px solid #707070;padding: 9px 15px;color: #B5B5B5;font-size: 15px;}
.audition_attach a p {margin: 0;padding-right: 40px; width: auto; display: inline-block;}
.audition_attach a i {font-weight: 600 !important; padding: 0 10px;font-size: 18px;}
.view_details_pop .modal.right.fade.in .modal-dialog {right: 0;*top: 90px;}
.view_details_pop.modal-backdrop{top: 93px;}
.view_details_pop .close{position: absolute;top: 35px;right: 35px;opacity: 1;color: #000;font-size: 30px;font-weight: 400;}
.modal-backdrop{*top: 93px;background-color: rgb(45 45 45 / 0.49);}


input,textarea { -webkit-user-select:text;}
select{-webkit-appearance: none;-moz-appearance: none;appearance: none;}

